AuthType Basic 
AuthName "Painel de Controle"
AuthUserFile c:/xampp/htdocs/bike-sports-gaspar/app/admin/assets/.htpasswd
require valid-user

RewriteEngine On
RewriteRule ^(.*)$ index.php [NC,L]
RewriteRule "(assets)" "-" [NC,F]