/* !CORES! */
:root{
    --Preto-Cor: #000;
    --Branco-Cor: #FFF;
    --Cinza-Cor: #969696;
    --CinzaClaro-Cor: #DFDFDF;
    --Verde-Cor: #9CCC3C;
    --Amarelo-Cor: #F2EA01;
    --Vermelho-Cor: #E72526;
    --Azul-Cor: #00C1EC;
    --Laranja-Cor: #F24701;
}

.pop-up{
    position: fixed;
    z-index: 999;
    bottom: 1%;
    right: 1%;
    width: 60px;
    height: 60px;
    background-color: #10e033;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border-radius: 50%;
}
.pop-up i{
    font-size: 40px;
    color: var(--Branco-Cor);
}

.pop-up i:hover{
    color: var(--Branco-Cor);
}

@media screen and (max-width: 850px){
    .pop-up{
        width: 50px;
        height: 50px;
    }
    .pop-up i{
        font-size: 30px;
    }
}