:root{
    --Preto-Cor: #000;
    --Branco-Cor: #FFF;
    --Cinza-Cor: #969696;
    --CinzaClaro-Cor: #DFDFDF;
    --Verde-Cor: #9CCC3C;
    --Amarelo-Cor: #F2EA01;
    --Vermelho-Cor: #E72526;
    --Azul-Cor: #00C1EC;
    --Laranja-Cor: #F24701;
}

.footer-resp{
    display: none;
}

@media screen and (max-width: 800px){
    .footer-resp{
        display: flex;
        z-index: 0;
    }

    .accordion{
        width: 100%;
        margin: 0;
    }

    .accordion-item{
        background-color: var(--CinzaClaro-Cor);
    }
    .accordion-header{
        background-color: var(--CinzaClaro-Cor);
    }
    .accordion-button{
        background-color: var(--CinzaClaro-Cor);
    }
    .accordion-button:focus{
        background-color: var(--CinzaClaro-Cor);
        border: none;
    }
    .line-2{
        width: 102%;
        height: 1px;
        background-color: var(--Preto-Cor);
    }

    .container-contact{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .icon-contact{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .icon-contact i{
        display: flex;
        width: 80px;
        font-size: 50px;
        transition: .5s ease;
        justify-content: center;
    }
    
    .contacts a{
        text-decoration: none;
    }
    
    .contacts{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .fa-instagram{
        background: linear-gradient(45deg, #ff00b1, #ff0076, #ff0027, #ffa200);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }    

    .fa-whatsapp{
        color: #10e033;
    }
    .fa-linkedin{
        color: #4e61af;
    }
    .fa-envelope{
        color: #f13918;
    }
}