/* !CORES! */
:root{
    --Preto-Cor: #000;
    --Branco-Cor: #FFF;
    --Cinza-Cor: #969696;
    --CinzaClaro-Cor: #DFDFDF;
    --Verde-Cor: #9CCC3C;
    --Amarelo-Cor: #F2EA01;
    --Vermelho-Cor: #E72526;
    --Azul-Cor: #00C1EC;
    --Laranja-Cor: #F24701;
}
/* Footer */
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--CinzaClaro-Cor) ;
    border-radius: 10px 10px 0 0;
    padding: 1%;
}
footer h1{
    display: flex;
    font-size: 30px;
    justify-content: center;
    width: 100%;
    color: var(--Preto-Cor);
    font-weight: 500;
    padding: 1%;
}
.line{
    width: 90%;
    height: 1px;
    background-color: var(--Preto-Cor);
    margin: 10px auto;
}
footer p{
    color: var(--Preto-Cor);
    font-size: 20px;
    width: 90%;
}
.footer_infos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.row{
    display: flex;
}

.horarios{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 2%;
}
.horarios h2{
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--Preto-Cor);
}
.footer_infos .bold{
    margin-top: 30px;
}

.metod-pag {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 181px;
    width: 40%;
    justify-content: space-around;
}

.metod-pag h1{
    font-family: Michroma;
    font-size: 1.2em;
    width: 100%;
}

.container-pag{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.item-pag img{
    width: 50px;
}
.item-pag-pix img{
    width: 35px;
}
.item-pag img{
    width: 50px;
}

.copy{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-contact{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin: 0 auto;
}

.ttl-cont h1{
    font-family: michroma;
    font-size: 20px;
}

.icon-contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-contact i{
    display: flex;
    width: 80px;
    font-size: 50px;
    transition: .5s ease;
    justify-content: center;
}

.contacts a{
    text-decoration: none;
}

.contacts{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.fa-instagram{
    background: linear-gradient(45deg, #ff00b1, #ff0076, #ff0027, #ffa200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}    

.fa-whatsapp{
    color: #10e033;
}
.fa-facebook{
    color: #3b53b4;
}
.fa-envelope{
    color: #f13918;
}

@media screen and (max-width: 840px) {
    .footer{
        display: none;
    }
}