:root{
    --Preto-Cor: #000;
    --Branco-Cor: #FFF;
    --Cinza-Cor: #969696;
    --CinzaClaro-Cor: #DFDFDF;
    --Verde-Cor: #9CCC3C;
    --Amarelo-Cor: #F2EA01;
    --Vermelho-Cor: #E72526;
    --Azul-Cor: #00C1EC;
    --Laranja-Cor: #F24701;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--CinzaClaro-Cor) ;
    border-radius: 10px 10px 0 0;
    padding: 1%;
}
.container-pag{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0 auto;
}
.desconto{
    background-color: var(--Cinza-Cor);
    border-radius: 5px;
    padding: 8px;
    width: 80%;
}
.desconto input{
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--CinzaClaro-Cor-Cor);
    font-family: inter-regular;
    font-size: 15px;
    padding: 1.5%;
}
.desconto input:focus{
    outline: none;
}
.desconto input::placeholder{
    color: var(--Preto-Cor);
    text-align: center;
}
.desconto i{
    color: var(--Preto-Cor);
}

.cep-calc{
    display: flex;
    justify-content: center;
    width: 80%;
}
.cep{
    background-color: var(--Branco-Cor);
    border-radius: 5px;
    border: 1px solid var(--Preto-Cor);
}
.cep input{
    font-family: inter-regular;
    border: none;
}
.cep input::placeholder{
    font-family: inter-regular;
}
.cep input:focus{
    outline: none;
}
.cep button{
    border: none;
    background-color: var(--Preto-Cor);
    color: var(--Branco-Cor);
    padding: 10px;
}

.total{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.topay{
    width: 80%;
    border: none;
    padding: 10px;
    background-color: var(--Preto-Cor);
    color: var(--Branco-Cor);
    font-family: inter-regular;
    border-radius: 5px;
}

@media screen and (max-width: 1920px){
    .pedido{
        width: 100%;
    }
    .produto{
        gap: 300px;
    }

    .cep-calc{
        justify-content: flex-end;
    }
}
@media screen and (max-width: 1450px){
    .pedido{
        width: 100%;
    }
    .produto{
        gap: 200px;
    }

    .cep-calc{
        justify-content: flex-end;
    }
}
@media screen and (max-width: 1280px){
    .pedido{
        width: 100%;
    }
    .produto{
        gap: 150px;
    }

    .container-pag{
        width: 50%;
    }
}
@media screen and (max-width: 778px){
    .pedido{
        width: 100%;
    }
    .produto{
        gap: 50px;
    }

    .container-pag{
        width: 70%;
    }
}
@media screen and (max-width: 550px){
    .pedido{
        width: 100%;
    }

    .produto{
        gap: 20px;
    }

    .produto img{
        width: 170px;
        height: 70px;
    }

    .nome p{
        font-size: 15px;
    }

    .container-pag{
        width: 100%;
    }
}
@media screen and (max-width: 385px){
    .pedido{
        width: 100%;
    }

    .produto{
        gap: 20px;
    }

    .produto img{
        width: 160px;
        height: 60px;
    }

    .cep{
        width: 92%;
        background-color: var(--Preto-Cor);
        border: 2px solid var(--Preto-Cor);
        border-radius: 5px;
    }
    .cep input{
        width: 67%;
        padding: 5px;
    }
    .cep button{
        padding: 5px;
    }
    .nome p{
        font-size: 15px;
    }

    .container-pag{
        width: 100%;
        padding: 2%;
    }
}
@media screen and (max-width: 337px){
    .produto img{
        width: 140px;
        height: 40px;
    }
    
    .cep{
        width: 90%;
        background-color: var(--Preto-Cor);
        border: 2px solid var(--Preto-Cor);
        border-radius: 5px;
    }
    .cep input{
        width: 65%;
        padding: 5px;
    }
    .cep button{
        padding: 4px;
    }
    .nome p{
        font-size: 12px;
    }
    .container-pag{
        width: 100%;
        padding: 2%;
    }
    .valor{
        margin-top: 10%;
    }
}
@media screen and (max-width: 317px){
    .cep{
        width: 100%;
        background-color: var(--Preto-Cor);
        border: 2px solid var(--Preto-Cor);
        border-radius: 5px;
    }
    .cep input{
        width: 65%;
        padding: 5px;
    }
    .cep button{
        padding: 4px;
    }
    .nome p{
        font-size: 12px;
    }
    .container-pag{
        width: 100%;
        padding: 2%;
    }
    .valor{
        margin-top: 10%;
    }
}