/* !CORES! */
:root{
    --Preto-Cor: #000;
    --Branco-Cor: #FFF;
    --CinzaClaro-Cor: #DFDFDF;
    --CinzaEscuro-Cor: #a8a8a8;
    --Verde-Cor: #9CCC3C;
    --Amarelo-Cor: #F2EA01;
    --Vermelho-Cor: #E72526;
    --Azul-Cor: #00C1EC;
    --Laranja-Cor: #F24701;
}

header{
    width: 100%;
    position: fixed;
    z-index: 999;
}
.space{
    height: 130px;
}
@media screen  and (max-width: 850px){
    .space{
      height: 70px;
    }
}

/* Navbar-1 */
.nav-1{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: var(--Preto-Cor);
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px var(--Branco-Cor);
}

.container-contatos{
    display: none;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mob-log{
    display: flex;
    justify-content: center;
}

.nav-1 .mob-log .logo{
    display: flex;
    width: 20%;
}
.nav-1 .mob-log .logo img{
    width: 100%;
}
.nav-list-1{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    list-style: none;
}
.pesquisar{
    width: 40%;
    background-color: var(--Branco-Cor);
    border-radius: 5px;
    cursor: pointer;
}
.pesquisar:focus{
    border: #dd690a 1px solid;
}
.pesquisar i{
    cursor: pointer;
    transition: .5s ease;
}
.pesquisar i:hover{
    color: var(--CinzaEscuro-Cor);
}
.pesquisa{
    background-color: transparent;
    border: none;
    width: 90%;
    padding: 10px 20px;
    font-family: inter-regular;
}
.pesquisa:focus{
    outline: none;
}
.pesquisa::placeholder{
    font-family: inter-regular;
}
.nav-list-1 a{
    color: var(--Preto-Cor);
    font-size: 25px;
    color: var(--CinzaClaro-Cor);
}

/* Navbar-2 */
.nav-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: var(--Preto-Cor);
}
.categorias{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--Laranja-Cor);
    color: #f5f5f5;
    padding: 0px 22px 0px 20px;
    height: 100%;
}
.categorias a{
    text-transform: uppercase;
    text-align: center;
    font-size: 16
    px;
    color: var(--Branco-Cor);
    font-family: Michroma;
}
.categorias:hover{
    color: var(--Branco-Cor);
    cursor: pointer;
}
.nav-list-2{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.nav-list-2 li{
    display: inline-block;
    align-items: center;
    width: 20%;
    justify-content: center;
}
.nav-list-2 a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--Branco-Cor);
    padding: 8%;
    display: inline-block;
    display: flex;
    justify-content: center;
}
.nav-list-2 a:hover{
    opacity: .9;
}

/* Bike Dropdown */
.nav-list-2 ul.bike-dropdown li{
    display: flex;
    justify-content: start;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.nav-list-2 ul.bike-dropdown{
    background-color: var(--Branco-Cor);
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 1px;
    width: 16%; /* ARRUMAR NA RESPONSIVIDADE DO SITE O TAMNAHO */
    max-height: 500px;
    padding: 1%;
}
.nav-list-2 ul.bike-dropdown li:hover{
    background-color: #dfdfdf;
}

.bike-dropdown a{
    color: var(--Preto-Cor);
    font-size: 12px;
}
.nav-list-2 li:hover ul.bike-dropdown{
    display: block;
    flex-direction: column;
    gap: 20px;
}
.bike-dropdown li a{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* Acessorios Dropdown */
.nav-list-2 ul.container-ace-dropdown ul.ace-dropdown li{
    display: flex;
    justify-content: start;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
}

.nav-list-2 ul.container-ace-dropdown{
    background-color: var(--Branco-Cor);
    position: absolute;
    z-index: 999;
    left: 0;
    display: none;
    border-radius: 1px;
    width: 100%; /* ARRUMAR NA RESPONSIVIDADE DO SITE O TAMNAHO */
    height: 350px;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}
.ace-dropdown{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15%;
}

.container-ace-dropdown a{
    color: var(--Preto-Cor);
    font-size: 12px;
}

.nav-list-2 li:hover ul.container-ace-dropdown{
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
}

.nav-list-2 ul.container-ace-dropdown ul.ace-dropdown li:hover{
    background-color: #dfdfdf;
}
/* Vestuario Dropdown */
.nav-list-2 ul.container-vest-dropdown ul.vest-dropdown li{
    display: flex;
    justify-content: start;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
}

.container-vest-dropdown{
    color: var(--Preto-Cor);
    font-size: 12px;
}

.vest-dropdown{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15%;
}

.nav-list-2 ul.container-vest-dropdown{
    background-color: var(--Branco-Cor);
    position: absolute;
    z-index: 999;
    left: 0;
    display: none;
    border-radius: 1px;
    width: 100%; /* ARRUMAR NA RESPONSIVIDADE DO SITE O TAMNAHO */
    height: 350px;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}
.nav-list-2 ul.vest-dropdown li:hover{
    background-color: #dfdfdf;
}

.container-vest-dropdown a{
    color: var(--Preto-Cor);
    font-size: 12px;
}
.nav-list-2 li:hover ul.container-vest-dropdown{
    display: flex;
    justify-content: space-around;
}

.li-responsivo a{
    display: none;
}

.vest-dropdown li a{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Ferramentas dropdown */
.nav-list-2 ul.container-fer-dropdown ul.fer-dropdown li{
    display: flex;
    justify-content: start;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
}

.container-fer-dropdown{
    color: var(--Preto-Cor);
    font-size: 12px;
}

.fer-dropdown{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15%;
}

.nav-list-2 ul.container-fer-dropdown{
    background-color: var(--Branco-Cor);
    position: absolute;
    z-index: 999;
    left: 0;
    display: none;
    border-radius: 1px;
    width: 100%; /* ARRUMAR NA RESPONSIVIDADE DO SITE O TAMNAHO */
    height: 350px;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}
.nav-list-2 ul.fer-dropdown li:hover{
    background-color: #dfdfdf;
}

.container-fer-dropdown a{
    color: var(--Preto-Cor);
    font-size: 12px;
}
.nav-list-2 li:hover ul.container-fer-dropdown{
    display: flex;
    justify-content: space-around;
}

.fer-dropdown li a{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Ferramentas dropdown */

.nav-list-2 ul.container-comp-dropdown ul.comp-dropdown li{
    display: flex;
    justify-content: start;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
}

.container-comp-dropdown{
    color: var(--Preto-Cor);
    font-size: 12px;
}

.comp-dropdown{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 13%;
}

.nav-list-2 ul.container-comp-dropdown{
    background-color: var(--Branco-Cor);
    position: absolute;
    z-index: 999;
    left: 0;
    display: none;
    border-radius: 1px;
    width: 100%; /* ARRUMAR NA RESPONSIVIDADE DO SITE O TAMNAHO */
    height: 350px;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}
.nav-list-2 ul.comp-dropdown li:hover{
    background-color: #dfdfdf;
}

.container-comp-dropdown a{
    color: var(--Preto-Cor);
    font-size: 12px;
}
.nav-list-2 li:hover ul.container-comp-dropdown{
    display: flex;
    justify-content: space-around;
}

.comp-dropdown li a{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Compoentes Dropdown */
.nav-list-2 ul.sup-dropdown li{
    display: flex;
    justify-content: start;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.nav-list-2 i{
    display: none;
}

.nav-list-2 ul.sup-dropdown{
    background-color: var(--Branco-Cor);
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 1px;
    width: 16%; /* ARRUMAR NA RESPONSIVIDADE DO SITE O TAMNAHO */
    max-height: 500px;
    padding: 1%;
    right: 0;
}
.nav-list-2 ul.sup-dropdown li:hover{
    background-color: #dfdfdf;
}

.sup-dropdown a{
    color: var(--Preto-Cor);
    font-size: 12px;
}
.nav-list-2 li:hover ul.sup-dropdown{
    display: block;
    flex-direction: column;
    gap: 20px;
}
.sup-dropdown li a{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* lines */
.line-ace{
    height: 250px;
    width: 1px;
    background-color: var(--Preto-Cor);
    margin: 5px auto;
}

.line-vest{
    height: 250px;
    width: 1px;
    background-color: var(--Preto-Cor);
    margin: 3px;
}

.line-fer{
    height: 250px;
    width: 1px;
    background-color: var(--Preto-Cor);
    margin: 3px; 
}

.line-comp{
    height: 250px;
    width: 1px;
    background-color: var(--Preto-Cor);
    margin: 3px; 
}

.nav-list-2 .container-contatos .contatos a{
    padding: 0%;
}

.nav-list-1 li a i.fa-heart,
.nav-list-1 li a i.fa-user,
.nav-list-1 li a i.fa-cart-shopping{
    transition: 0.5s;
}
.nav-list-1 li a i.fa-heart:hover{
    color: #E72526;
}

.nav-list-1 li a i.fa-user:hover{
    color: #00C1EC;
}

.nav-list-1 li a i.fa-cart-shopping:hover{
    color: #F2EA01;
}


/* ---------Responsivo Header--------- */
/* --------------1050px-------------- */
@media screen and (max-width: 1050px){
    .nav-list-2 a{
        font-size: 12px;
    }
}
/* -------------850px-------------- */
@media screen and (max-width: 850px){
    .categorias{
        width: 100%;
        height: 30px;
        background-color: var(--Laranja-Cor);
    }

    .nav-list-2{
        position: fixed;
        background-color: var(--Preto-Cor);
        justify-content: start;
        padding: 2%;
        width: 40vw;
        height: 92%;
        flex-direction: column;
        left: 0;
        animation: move 1.5s;
        overflow-x: hidden;
    }
    @keyframes move {
        0%{
            left: -20%;
        }
        100%{
            left: 0;
        }
    }


    
    .nav-list-2 .container-contatos .contatos a i{
        font-size: 40px;
    }
    
    .nav-list-2 li{
        display: flex;
        padding: 1%;
        justify-content: flex-start;
        width: 100%;
        flex-direction: column;
    }
    
    .nav-list-2 li a{
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-items: center;
    }

    .fa-solid{
        font-size: 20px;
    }
    
    .nav-list-2 li i{
        display: flex;
        color: var(--Branco-Cor);
    }
    
    .nav-2{
        display: none;
        height: 100%;
    }
    
    .nav-2.active{
        display: flex;
    }

    .line1.active {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
  
    .line2.active {
        opacity: 0;
    }
  
    .line3.active {
        transform: rotate(45deg) translate(-5px, -7px);
    }

    .nav-list-2.active{
        display: flex;
    }
    
    .nav-1{
        justify-content: space-between;
    }
    
    .nav-list-1{
        justify-content: space-evenly;
        width: 30%;
    }
    
    .nav-list-1 i{
        font-size: 22px;
    }
    
    .mob-log{
        display: flex;
        width: 200px;
        justify-content: space-evenly;
    }
    
    .mobile-menu{
        display: block;
        cursor: pointer;
    }
    
    .mobile-menu div {
        width: 32px;
        height: 2px;
        background: #fff;
        margin: 8px;
        transition: 0.3s;
    }
    
    .nav-list-2 li:hover ul.sup-dropdown,
    .nav-list-2 li:hover ul.container-ace-dropdown,
    .nav-list-2 li:hover ul.container-vest-dropdown,
    .nav-list-2 li:hover ul.container-fer-dropdown,
    .nav-list-2 li:hover ul.container-comp-dropdown,
    .nav-list-2 li:hover ul.bike-dropdown{
        display: none;
    }

    .nav-list-2 li:hover ul.bike-dropdown.active,
    .nav-list-2 li:hover ul.sup-dropdown.active{
        display: flex;
        position: relative;
        width: 100%;
        max-height: none;
        padding: 4%;
    }
    .bike-dropdown li a,
    .sup-dropdown li a{
        padding: 0;
    }

    .nav-list-2 li:hover ul.container-ace-dropdown.active,
    .nav-list-2 li:hover ul.container-vest-dropdown.active,
    .nav-list-2 li:hover ul.container-fer-dropdown.active,
    .nav-list-2 li:hover ul.container-comp-dropdown.active{
        display: flex;
        position: relative;
        width: 100%;
        max-height: none;
        padding: 4%;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
    }
    

    .line-ace,
    .line-vest,
    .line-fer,
    .line-comp{
        display: none;
    }
    .ace-dropdown,
    .vest-dropdown,
    .fer-dropdown,
    .comp-dropdown{
        width: 100%;
    }
    .ace-dropdown li a,
    .vest-dropdown li a,
    .fer-dropdown li a,
    .comp-dropdown li a{
        padding: 4%;
    }

    .bike-dropdown li a, 
    .ace-dropdown li a,
    .vest-dropdown li a,
    .fer-dropdown li a,
    .comp-dropdown li a,
    .sup-dropdown li a{
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .nav-1 .pesquisar{
        display: none;
    }

    .nome-categoria{
        display: flex;
        width: 100%;
        align-items: center;
    }

    .li-responsivo{
        display: flex;
    }
}
@media screen and (max-width: 450px){
    .nav-list-2{
        width: 60vw;
    }
}