/* !CORES! */
:root{
    --Preto-Cor: #000;
    --Branco-Cor: #FFF;
    --CinzaClaro-Cor: #DFDFDF;
    --CinzaEscuro-Cor: #949494;
    --Verde-Cor: #9CCC3C;
    --Amarelo-Cor: #F2EA01;
    --Vermelho-Cor: #E72526;
    --VermelhoEscuro-Cor: #ff0000;
    --Azul-Cor: #00C1EC;
    --Laranja-Cor: #F24701;
}

.container{
    display: flex;
    width: 60%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.login_container{
    width: 100%;
}
.cadastro_container{
    width: 70%;
}
.login_container, .cadastro_container{
    width: 50%;
    background-color: var(--Branco-Cor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    gap: 30px;
    box-shadow: 0px 0px 5px var(--Branco-Cor);
}
.header_login_cadastro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo_login_cadastro{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_login_cadastro img{
    width: 100%;
}
.titulo_login_cadastro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.titulo_login_cadastro h1{
    font-size: 30px;
}
.forms_login{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.components_forms{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.item_forms{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.item_forms input{
    width: 100%;
    padding: 1.5%;
    border: none;
    border-bottom: 2px solid var(--Preto-Cor);
    transition: .5s ease;
}
.item_forms input:focus{
    outline: none;
    border-color: var(--Laranja-Cor);
}
.forms_login button{
    width: 200px;
    color: var(--Branco-Cor);
    background-color: var(--Laranja-Cor);
    padding: 2%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 0px 0px var(--CinzaEscuro-Cor);
}
.forms_login button:active{
    box-shadow: 2px 2px 0px 0px var(--CinzaEscuro-Cor);
}
.cadastro_login{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.cadastro_login a{
    text-decoration: underline;
}
.container_cadastro{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4%;
}

.item_forms span{
    display: none;
}
.item_forms span.active{
    display: flex;
    padding: 1%;
    color: var(--Vermelho-Cor);
}
.item_forms input.active{
    border-color: var(--VermelhoEscuro-Cor);
}   
.senha_{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.senha_ i{
    position: absolute;
    right: 5px;
    display: flex;
    height: 100%;
    align-items: center;
}


@media screen and (max-width: 800px) {
    .container{
        width: 90%;
    }
    .logo_login_cadastro{
        width: 30%;
    }
    .titulo_login_cadastro h1{
        font-size: 22px;
    }
    .item_forms{
        width: 90%;
    }
    .item_forms label{
        font-size: 15px;
    }
    .forms_login button{
        width: 150px;
        font-size: 18px;
    }
    .cadastro_login p, .cadastro_login p a{
        font-size: 12px;
    }
}