:root{
    --Preto-Cor: #000;
    --Branco-Cor: #FFF;
    --CinzaClaro-Cor: #DFDFDF;
    --CinzaEscuro-Cor: #adadad;
    --Verde-Cor: #9CCC3C;
    --Amarelo-Cor: #F2EA01;
    --Vermelho-Cor: #E72526;
    --Azul-Cor: #00C1EC;
    --Laranja-Cor: #F24701;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.ttl-perfil{
    margin-bottom: 2%;
}
.ttl-perfil h1{
    font-family: michroma;
    font-size: 20px;
    color: var(--Verde-Cor);
    border-bottom: 2px solid var(--Verde-Cor);
    padding-bottom: 5px;
    text-align: left;
}
.colunm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 46.5%;
}
/* .card-perfil{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--Branco-Cor);
    border-radius: 10px;
} */
.card-favoritos{
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    background-color: var(--Branco-Cor);
}
.ttl-fav{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}
.ttl-fav h1{
    font-size: 20px;
    font-family: michroma;
}
.container-favoritos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 98%;
    margin: 0 auto;
    height: 85%;
    overflow-y: scroll;
}
.favorito{
    cursor: pointer;
    display: flex;
    width: 90%;
    gap: 10px;
    height: 10vh;
    background-color: var(--Branco-Cor);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 1%;
}
/* .profile{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 95%;
    margin: 10% auto;
    gap: 10px;
}
.profile .fa-user{
    position: absolute;
    font-size: 30px;
    width: 13%;text-align: center;
    background-color: var(--CinzaClaro-Cor);
    border-radius: 50%;
    color: var(--CinzaEscuro-Cor);
    padding: 10px;
    cursor: pointer;
}
.profile h1{
    font-family: michroma;
    font-size: 28px;
} */

.card-dados{
    display: flex;
    flex-direction: column;
    width: 46.5%;
    height: 70vh;
    background-color: var(--Branco-Cor);
    border-radius: 10px;
}

.card-dados h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-family: michroma;
    font-size: 20px;
    margin-bottom: 5%;
}

.dados{
    width: 90%;
    margin: 0 auto;
}
.dado{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foto{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 2%;
}

.img-side{
    display: flex;
    width: 20%;
    justify-content: start;
}
.img-side i{
    background-color: var(--CinzaEscuro-Cor);
    color: var(--CinzaClaro-Cor);
    padding: 20px;
    border-radius: 50%;
}

.add-img{
    display: flex;
    width: 80%;
    justify-content: start;
}

.add-img input{
    display: none;
}

.add-img label{
    color: var(--Laranja-Cor);
    border-bottom: 1px solid var(--Laranja-Cor);
    font-family: inter-regular;
    cursor: pointer;
}

.btn-dados{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    margin-top: 5%;
}

.btn-dados input{
    border: none;
    padding: 10px;
    background-color: var(--Laranja-Cor);
    color: var(--Branco-Cor);
    font-family: inter-regular;
    border-radius: 5px;
    cursor: pointer;
}
.editar-perfil{
    position: fixed;
    display: none;
    width: 100%;
    height: 85%;
    justify-content: center;
    align-items: center;
    background-color: #0000004f;
}
.editar-perfil.abrirEdit{
    position: fixed;
    display: flex;
    width: 100%;
    height: 85%;
    justify-content: center;
    align-items: center;
    background-color: #0000004f;
}
.editar-perfil.abrirEdit html{
    overflow-y: none;
}
.editar-perfil form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: var(--Branco-Cor);
    padding: 15px;
    border-radius: 10px;
}
.btn-salvar-sair{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.btn-salvar-sair input{
    border: none;
    font-family: inter-regular;
    padding: 8px 10px;
    background-color: var(--Laranja-Cor);
    color: var(--Branco-Cor);
    border-radius: 10px;
}
.editar-perfil form input[type="text"]{
    border-radius: 10px;
    padding: 8px 15px;
    border: 1px solid var(--CinzaEscuro-Cor);
    font-family: inter-regular;
}   
.editar-perfil form input[type="text"]:focus{
    outline: none;
}   
.line{
    width: 90%;
    height: 2px;
    background-color: var(--Preto-Cor);
}
.line-ped{
    width: 100%;
    height: 2px;
    background-color: var(--Preto-Cor);
    margin-top: 1%;
}

.ttl-pedidos{
    width: 100%;
    margin-bottom: 2%;
    margin-top: 5%;
}
.ttl-pedidos h1{
    font-family: michroma;
    font-size: 20px;
    color: var(--Verde-Cor);
    border-bottom: 2px solid var(--Verde-Cor);
    padding-bottom: 5px;
    text-align: left;
}

.card-pedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40vh;
    padding: 10px;
    background-color: var(--Branco-Cor);
    border-radius: 10px;
}
.container-pedidos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    height: 85%;
    overflow-y: scroll;
}
.pedido{
    display: flex;
    gap: 20px;
}
.img-fav img{
    width: 80%;
}
.img-ped{
    width: 30%;
}
.desc{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nome p{
    font-size: 20px;
}
.preco{
    display: flex;
    width: 100%;
    justify-content: end;
}
.mais-detalhes{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.mais-detalhes a{
    display: flex;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--Branco-Cor);
    background-color: var(--Laranja-Cor);
}
@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1000px){
    .favorito .img-prod img{
        width: 100px;
    }
    .favorito{
        flex-direction: column;
        margin-bottom: 30%;
    }
    .img-side{
        width: 30%;
    }
    .add-img{
        width: 70%;
    }
}   
@media screen and (max-width: 770px){
    .btn-dados{
        gap: 15px;
    }
    .btn-dados input{
        font-size: 12px;
    }
    .profile h1{
        font-family: michroma;
        font-size: 15px;
    }
    .img-side{
        width: 40%;
    }
    .add-img{
        width: 60%;
    }
}   
@media screen and (max-width: 600px){
    .row{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .profile h1{
        font-family: michroma;
        font-size: 15px;
    }
    .colunm{
        width: 100%;
    }
    .card-perfil{
        width: 100%;
        margin: 0 auto;
    }
    .card-dados{
        width: 95%;
        margin: 0 auto;
    }
    .btn-dados{
        gap: 40px;
    }
    .btn-dados input{
        font-size: 20px;
    }

@media screen and (max-width: 580px){
    .card-perfil .profile .fa-user{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pedido{
        display: flex;
        flex-direction: column;
    }
    .img-ped{
        width: 80%;
    }
    .nome{
        width: 100%;
    }
    .nome p{
        font-size: 20px;
    }
    .preco{
        justify-content: start;
    }
    .preco p{
        font-size: 20px;
    }
}
@media screen and (max-width: 480px){
    .container-pedidos{
        height: 32vh;
    }
}
@media screen and (max-width: 430px){
    .card-pedidos{
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }
}
@media screen and (max-width: 400px){
    .btn-dados input{
        font-size: 13px;
    }

    .txt-ped{
        font-size: 12px;
    }
}
@media screen and (max-width: 370px){
    .btn-dados input{
        font-size: 11px;
    }
    .mais-detalhes a{
        font-size: 12px;
    }
    .mais-detalhes p{
        font-size: 12px;
    }
}
}