/* !CORES! */
:root{
    --Preto-Cor: #000;
    --Branco-Cor: #FFF;
    --CinzaClaro-Cor: #DFDFDF;
    --Verde-Cor: #9CCC3C;
    --Amarelo-Cor: #F2EA01;
    --Vermelho-Cor: #E72526;
    --Azul-Cor: #00C1EC;
    --Laranja-Cor: #F24701;
}

/* Container */
.container{
    width: 85%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Destaques */
#section-destaques{
    height: 500px;
}
.destaques{
    display: flex;
}
.destaques h1{
    width: 100%;
    font-size: 25px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}
.box-categ{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.row-categ{
    display: flex;
    gap: 10px;
}
.manu img, .seminovas img{
    width: 100%;
}
.nutri img,.outlet img{
    width: 100%;
}







