/* !CORES! */
:root{
    --Preto-Cor: #000;
    --Branco-Cor: #FFF;
    --CinzaClaro-Cor: #DFDFDF;
    --Verde-Cor: #9CCC3C;
    --Amarelo-Cor: #F2EA01;
    --Vermelho-Cor: #E72526;
    --Azul-Cor: #00C1EC;
    --Laranja-Cor: #F24701;
}

/* !VIEW PRODUTOS! */
.container_produtos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.localizacao_pagina{
    width: 100%;
    padding: 2%;
    display: flex;
}
.localizacao_pagina div{
    width: 100%;
    display: flex;
    gap: 1%;
}
.localizacao_pagina h3, .localizacao_pagina a{
    font-size: 1.3em;
}
.localizacao_pagina h2{
    font-size: 1.4em;
}
.view_produtos{
    width: 100%;
    display: flex;
    gap: 4%;
}
.filtros{
    width: 18%;
    display: flex;
    flex-direction: column;
}
.produtos_view{
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin-bottom: 2%;
}
.produto{
    width: 30%;
    height: 350px;
    display: flex;
    flex-direction: column;
}
.img_produto{
    width: 100%;
    display: flex;
    align-items: center;
}
.nome_produto{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nome_produto h3{
    padding: 1%;
}
.valor_produto{
    text-align: center;
    height: 15%;
}
.valor_produto h1{
    padding: 1%;
}
.btn_comprar{
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    width: 92%;
    padding: 4%;
    text-align: center;
    background-color: orangered;
    border-radius: 30px;
    transition: 1s;
}
.btn_comprar a{
    color: #fff;
}
.btn_comprar:hover{
    background-color: green;
}
.view_container{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}