:root{
    --Preto-Cor: #111117;
    --Branco-Cor: #FFF;
    --Branco-50-Cor:#C4C4C4;
    --CinzaClaro-Cor: #DFDFDF;
    --CinzaEscuro-Cor: #a8a8a8;
    --Verde-Cor: #9CCC3C;
    --Amarelo-Cor: #F2EA01;
    --Vermelho-Cor: #E72526;
    --Azul-Cor: #00C1EC;
    --Laranja-Cor: #F24701;
}


.container_adm{
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_adm{
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.row1_header{
    width: 90%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.icon_voltar{
    position: absolute;
    left: 0;
}
.icon_voltar a i{
    color: var(--Branco-Cor);
    font-size: 40px;
}
.titulo_adm h1{
    font-size: 20px;
    color: var(--Branco-Cor);
}
.row2_header{
    width: 40%;
}
.pesquisar{
    width: 100%;
    background-color: var(--Branco-Cor);
    border-radius: 5px;
    cursor: pointer;
}
.pesquisar:focus{
    border: #dd690a 1px solid;
}
.pesquisar i{
    cursor: pointer;
    transition: .5s ease;
}
.pesquisar i:hover{
    color: var(--CinzaEscuro-Cor);
}
.pesquisa{
    background-color: transparent;
    border: none;
    width: 90%;
    padding: 10px 20px;
    font-family: inter-regular;
}
.pesquisa:focus{
    outline: none;
}
.pesquisa::placeholder{
    font-family: inter-regular;
}
.container_produtos_adm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    padding: 1%;
    gap: 10px;
}
.header_container_produtos{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.header_container_produtos h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Branco-Cor);
    font-size: 20px;
}
.btn_adicionar_produto{
    display: flex;
}
.btn_add{
    width: 200px;
    padding: 6%;
    color: var(--Branco-Cor);
    display: flex;
    justify-content: center;
    background-color: var(--Laranja-Cor);
    border-radius: 10px;
}
.row_container_adm{
    width: 95%;
    border: solid 1px var(--Verde-Cor);
}
.adm_container_produtos{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}