/* !FONTES! */


/* !HTML E BODY! */
body{
    width: 100%;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

/* 
.container{
    width: 85%;
    height: 500px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
*/