/* !CORES! */
:root{
    --Preto-Cor: #000;
    --Branco-Cor: #FFF;
    --CinzaClaro-Cor: #DFDFDF;
    --Verde-Cor: #9CCC3C;
    --Amarelo-Cor: #F2EA01;
    --Vermelho-Cor: #E72526;
    --Azul-Cor: #00C1EC;
    --Laranja-Cor: #F24701;
}

header{
    width: 100%;
}
.info-list{
    display: flex;
    list-style: none;
    gap: 20px;
}
.info-list-2{
    display: flex;
    list-style: none;
    gap: 20px;
}
.info-list-2 a{
    color: var(--Preto-Cor);
    text-decoration: none;
}
.info-list-2 a:hover{
    border-bottom: 1px solid var(--Preto-Cor);
}
.info-list li{
    display: flex;
    gap: 10px;
}

/* Navbar-1 */
.nav-1{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: var(--Preto-Cor);
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px var(--Branco-Cor);
}
.nav-1 .logo{
    display: flex;
    width: 4%;
}
.nav-1 .logo img{
    width: 100%;
}
.nav-list-1{
    display: flex;
    list-style: none;
    gap: 40px;
}
.pesquisar{
    width: 30%;
    background-color: var(--Branco-Cor);
    border-radius: 5px;
    cursor: pointer;
}
.pesquisar:focus{
    border: #dd690a 1px solid;
}
.pesquisar i{
    cursor: pointer;
}
.pesquisa{
    background-color: transparent;
    border: none;
    width: 90%;
    padding: 15px 20px;
}
.pesquisa:focus{
    outline: none;
}
.nav-list-1 a{
    color: var(--Preto-Cor);
    font-size: 25px;
    color: var(--CinzaClaro-Cor);
}

/* Navbar-2 */
.nav-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 100px;
    background-color: var(--Preto-Cor);
}
.categorias{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--Laranja-Cor);
    color: #f5f5f5;
    padding: 10px;
    padding-right: 40px;
}
.categorias h2{
    text-transform: uppercase;
    font-size: 18px;
    color: var(--Branco-Cor);
}
.categorias:hover{
    color: var(--Branco-Cor);
    cursor: pointer;
}
.nav-list-2{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.nav-list-2 li{
    display: inline-block;
    align-items: center;
    height: 100%;
    width: 20%;
    justify-content: center;
}
.nav-list-2 a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--Branco-Cor);
    padding: 8%;
    display: inline-block;
    display: flex;
    justify-content: center;
}
.nav-list-2 a:hover{
    opacity: .9;
}

/* Bike Dropdown */
.nav-list-2 ul.bike-dropdown li{
    display: flex;
    justify-content: start;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.nav-list-2 ul.bike-dropdown{
    background-color: var(--Branco-Cor);
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 1px;
    width: 16%; /* ARRUMAR NA RESPONSIVIDADE DO SITE O TAMNAHO */
    padding: 1%;
}
.nav-list-2 ul.bike-dropdown li:hover{
    background-color: #dfdfdf;
}

.bike-dropdown a{
    color: var(--Preto-Cor);
}
.nav-list-2 li:hover ul.bike-dropdown{
    display: block;
    flex-direction: column;
    gap: 20px;
}
.bike-dropdown li a{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* Acessorios Dropdown */
.nav-list-2 ul.container-ace-dropdown ul.ace-dropdown li{
    display: flex;
    justify-content: start;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: auto;
}

.nav-list-2 ul.container-ace-dropdown{
    background-color: var(--Branco-Cor);
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 1px;
    width: 50%; /* ARRUMAR NA RESPONSIVIDADE DO SITE O TAMNAHO */
    height: 500px;
}

.container-ace-dropdown a{
    color: var(--Preto-Cor);
    font-size: 12px;
}

.nav-list-2 li:hover ul.container-ace-dropdown{
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 20px;
}

.nav-list-2 ul.container-ace-dropdown ul.ace-dropdown li:hover{
    background-color: #dfdfdf;
}
